* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(#1593b3, #1593b3, #a66f42);
    overflow-x: hidden;
    margin-top: 18px;
    margin-left: -1px;
    position: relative;
    background-repeat: no-repeat;
}

nav {
    display: flex;
    align-items: center;
    font-size: 1.05vw;
    font-weight: 500;
    margin-top: -23px;
}

#logo {
    width: 23em;
    cursor: pointer;
    margin-top: -1.5em;
}

ul {
    display: flex;
    justify-content: right;
    height: 100%;
}

ul a {
    text-decoration: none;
    color: #276d72;
}

ul li {
    padding: 0.4em 1.5em;
    margin: 0 0.3em;
    list-style-type: none;
    background-color: #fff;
    border-radius: 1.5em;
    color: #276d72;
    cursor: pointer;
}

ul li:hover,
ul li:hover a {
    background-color: #a6cd42;
    color: #fff;
}

#menu {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 100%;
    margin-right: 2.5em;
}

#hamburguer {
    display: none;
    margin-right: 2.5em;
    padding: 0.5em 1.5em;
    list-style-type: none;
    color: #1593b3;
    cursor: pointer;
    font-size: 5vw;
    position: absolute;
    top: 25px;
    left: 0;
}

#liActive,
#liActive a {
    color: #fff;
    background-color: #a6cd42;
}

#liMetaMask {
    padding: 0.3em 1.6em;
    margin: 0 0.5em;
    cursor: pointer;
    border-radius: 1.3em;
    color: #fff;
    background-color: #05565b;
    font-weight: 700;
    font-size: 1.33vw;
    line-height: 1.15em;
}

main {
    height: 145.5vw;
}

.titulo {
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}

.parrafo {
    color: #fff;
    text-align: center;
}

#social {
    font-size: 6vw;
}

/* Background Images */
#bgTopLeft {
    width: 100vw;
    position: absolute;
    top: unset;
    left: 0;
    z-index: -1;
    background-image: url(../img/web-latamland-modificado-03.webp);
    height: 100vw;
    background-size: contain;
    background-repeat: no-repeat;
}

#bgEdificio1 {
    width: 42vw;
    position: absolute;
    top: 5vw;
    left: -35px;
    z-index: -3;
    background-image: url(../img/web-latamland-modificado-06.webp);
    height: 100vw;
    background-size: contain;
    background-repeat: no-repeat;
}

#bgEdificio2 {
    width: 42vw;
    position: absolute;
    top: -12vw;
    left: 55.3vw;
    z-index: -1;
    background-image: url(../img/web-latamland-modificado-07.webp);
    height: 100vw;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 4vw;
}

#bgCenter1 {
    width: 100vw;
    position: absolute;
    top: 19.5vw;
    left: 0;
    z-index: -1;
    background-image: url(../img/web-latamland-modificado-04.webp);
    height: 100vw;
    background-size: contain;
    background-repeat: no-repeat;
}

#bgCenter2 {
    width: 100vw;
    position: absolute;
    top: 37.5vw;
    left: 0;
    z-index: -2;
    background-image: url(../img/web-latamland-modificado-02.webp);
    height: 100vw;
    background-size: contain;
    background-repeat: no-repeat;
}

#bgBottom {
    width: 100vw;
    position: absolute;
    top: 92vw;
    left: 0;
    z-index: -4;
    background-image: url(../img/web-latamland-modificado-05.webp);
    height: 54.8vw;
    background-size: contain;
    background-repeat: no-repeat;
}

h1 {
    font-size: 3.6vw;
    font-weight: 800;
    width: 26vw;
    margin: 0 auto;
    line-height: 1.1em;
}

h2 {
    font-size: 1.24vw;
    font-weight: 400;
    line-height: 1.5em;
    width: 35vw;
    margin: 0 auto;
    margin-top: 10px;
}

h3 {
    margin-top: 14vw;
}

.contenedorTexto {
    width: 100vw;
    position: absolute;
    top: 20vw;
    margin: unset;
}

.contenedorVideo {
    width: 45vw;
    margin: 0 auto;
}

#video {
    top: 62.5vw;
    width: 45vw;
    height: 30vw;
    position: absolute;
}

footer {
    margin-top: unset;
    position: absolute;
    width: 100vw;
    top: 121vw;
}

footer i {
    padding: 0 0.2em;
    cursor: pointer;
}

footer a {
    color: #fff;
    text-decoration: none;
}

/* Media Queries */
@media only screen and (max-width: 749px) {
    body {
        min-height: 165.6vw;
    }

    .contenedorTexto {
        top: 28vw;
    }

    .titulo {
        font-size: 4.6vw;
        width: 34vw;
    }

    h2 {
        font-size: 2.24vw;
        width: 63vw;
    }

    #bgCenter2 {
        top: unset;
        bottom: 9vw;
    }

    #bgEdificio1 {
        top: unset;
        bottom: 43vw;
        left: -20px;
    }

    #bgEdificio2 {
        top: unset;
        bottom: 59vw;
    }

    #bgCenter1 {
        top: 28.5vw;
    }

    #bgBottom {
        top: unset;
        bottom: 0;
    }

    #video {
        top: unset;
        bottom: 54vw;
        width: 45vw;
        height: 30vw;
        position: absolute;
    }

    footer {
        font-size: 2vw;
        bottom: 2vw;
        top: unset;
    }

    #menu {
        display: none;
        flex-direction: column;
        margin-right: unset;
        position: absolute;
        top: 28vw;
        background-color: #1593b3;
        height: calc((var(--vh, 1vh) * 100) - 57.5vw);
        text-align: center;
        z-index: 1;
        min-height: 108vw;
    }

    #menu ul {
        flex-direction: column;
        height: unset;
    }

    #menu ul li {
        margin: 0.2em 0.5em;
    }

    #logo {
        width: 50%;
        margin: 0 auto;
        margin-top: -5vw;
    }

    #hamburguer {
        display: block;
    }

    nav {
        flex-direction: column;
        font-size: 5vw;
    }

    #liMetaMask {
        position: absolute;
        bottom: 50px;
        font-size: 6vw;
    }

    main {
        height: unset;
    }

    body {
        height: calc(var(--vh, 1vh) * 100);
    }
}

@media only screen and (min-width: 750px) {
    body {
        min-height: unset;
    }   
    #menu {
        display: flex !important;
    }

    main {
        height: 125.5vw;
    }

    footer {
        font-size: 1vw;
    }
}